<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="jumbotron jumbotron-fluid trip-view-jumbo">
        <div class="container">
          <h1 class="display-2">Expenditures for {{destination.name}}</h1>
          <p class="lead">Add and edit your dream Destination!</p>
          <button class="btn btn-outline-danger">This is a Button</button>
        </div>
      </div>


    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <div class="flex-row justify-center">
        <a href="/dashboard/trip/{{trip.id}}/destination/{{destination.id}}/new">➕ New Post</a>
      </div>
          {{#each expenditure}}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{event_type}}</p>
                <p class="card-text">{{price}}</p>
                <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}" class="btn btn-primary">Edit Destination</a>
              </div>
            </div>
          {{/each}}
    </div>
  </div>


</div>
