<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid trip-view-jumbo">
        <div class="container">
          <h1 class="display-2">Stops</h1>
          <p class="lead">Add and edit your dream stops to {{TripData.name}}</p>
          <button class="btn btn-outline-danger jumbo-btn"><a href="#chart">View Budget Distribution</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <!-- HTML !-->
      <div class=" flex-row justify-center">
        <button class="button-73" role="button"><a href="/dashboard/trip/{{TripData.id}}/new">➕ Add Stop</a></button>
        <button class="button-73" role="button"><a href="/dashboard/trip/{{TripData.id}}/update">Edit Trip</a></button>
      </div>
          {{#each TripData.Stops}}
            <div class="card trip-card">
              <input type="hidden" value="{{budget}}">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Start Date: <span>{{start_date}}</span></p>
                <p class="card-text">Start Date: <span>{{end_date}}</span></p>
                <p class="card-text" id="budget-price">Budget: <span class="budget">{{budget}}</span></p>
                <a href="/dashboard/trip/{{../TripData.id}}/stop/{{id}}" class="btn btn-primary">View Stop</a>
                <button class='btn delete-stop-button btn-primary' type="click" id="{{id}}" data-trip-id="{{../TripData.id}}">Delete Stop</button>
              </div>
            </div>
          {{/each}}
    </div >
      
    <div class="col-sm-12 col-md-6">
      <canvas id="budgetChart"></canvas>
    </div>

</div>

{{!-- hidden expenditure data for the first stop if only 1 present --}}
  {{#each Expenditure1}}
  <input type="hidden" value="{{accomodation}}" class="accomodation">
  <input type="hidden" value="{{travel_costs}}" class="travel_costs">
  <input type="hidden" value="{{food_entertainment}}" class="food_entertainment">
  <input type="hidden" value="{{other}}" class="other">
  {{/each}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/graph.js"></script>

{{!-- <script src="/js/edit-stop.js"></script> --}}
<script src="/js/deleteStop.js"></script>

