<h3>{{TripData.name}}</h3>
<div class="flex-row justify-center">
  <a href="/dashboard/trip/{{TripData.id}}/new">➕ New Post</a>
</div>
<div>
  <ul>
    {{#each TripData.Destinations}}
    <li>
      <div class="card">
        <h5 class="card-header">{{name}}</h5>
        <div class="card-body">
          <h5 class="card-text">{{date_arrived}}</h5>
          <h5 class="card-text">{{date_leaving}}</h5>
          <h5 class="card-text">{{budget}}</h5>
          <button class="btn btn-primary" type="button">
          <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}">View Destination</a>
          </button>
          <button class="btn btn-primary" type="button">
          {{!-- this button will later lead you to a page to update the information or delete it --}}
          <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}">Edit Destination</a>
          </button>
        </div>
    </li>
    {{/each}}
  </ul>
</div>

{{!-- <script src="/js/edit-destination.js"></script> --}}

