<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid trip-view-jumbo">
        <div class="container">
          <h1 class="display-2">Destinations</h1>
          <p class="lead">Add and edit your dream destinations to {{TripData.name}}</p>
          <button class="btn btn-outline-danger"><a href="#chart">View Budget Distribution</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- HTML !-->
      
      <div class=" flex-row justify-center">
        <button class="button-73" role="button"><a href="/dashboard/trip/{{TripData.id}}/new">➕ Add Destination</a></button>
      </div>
          {{#each TripData.Destinations}}
            <div class="card">
              <input type="hidden" value="{{budget}}">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{date_arrived}}</p>
                <p class="card-text">{{date_leaving}}</p>
                <p class="card-text budget" id="budget-price">{{budget}}</p>
                <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}" class="btn btn-primary">View/Edit Destination</a>
              </div>
            </div>
          {{/each}}
    </div>
  </div>

  <div id="chart">
    <canvas id="budgetChart"></canvas>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/graph.js"></script>

{{!-- <script src="/js/edit-destination.js"></script> --}}

