<h3>{{TripData.name}}</h3>
  <div>
    <ul>
      {{#each TripData.Destinations}}
      <li>
        <div class="card">
          <h5 class="card-header">{{name}}</h5>
          <div class="card-body">
              <p class="card-text">{{budget}}</p>
              <p>
                  <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample{{id}}" aria-expanded="false" aria-controls="collapseExample">
                      Button with data-target
                  </button>
              </p>
              <div class="collapse" id="collapseExample{{id}}">
                  <div class="card card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
              </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- can we have a chart or graph on how much the user has been spending or something easy for graph?  --}}


<div id="map"></div>

{{!-- weather stuff  --}}
<div></div>

<script src="/js/map.js"></script>

{{!-- <script src="/js/logout.js"></script> --}}

{{> expenditure-view }}