<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid trip-view-jumbo">
        <div class="container">
          <h1 class="display-2">Destinations</h1>
          <p class="lead">Add and edit your dream destinations to {{TripData.name}}</p>
          <button class="btn btn-outline-danger"><a href="#chart">View Budget Distribution</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class=" flex-row justify-center">
        <a href="/dashboard/trip/{{TripData.id}}/new">➕ Add Destination</a>
      </div>
          {{#each TripData.Destinations}}
            <div class="card">
              <input type="hidden" value="{{budget}}">
              <h5 class="card-header">{{name}}</h5>
              <div class="card-body">
                <h5 class="card-text">{{date_arrived}}</h5>
                <h5 class="card-text">{{date_leaving}}</h5>
                <h5 class="card-text budget" id="budget-price">{{budget}}</h5>
                <button class="btn btn-primary" type="button">
                <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}">View/Edit Destination</a>
                </button>
              </div>
            </div>
          {{/each}}
    </div>
  </div>

  <div id="chart">
    <canvas id="myChart"></canvas>
  </div>

</div>

<script src="/js/graph.js"></script>
{{!-- <script src="/js/edit-destination.js"></script> --}}

