<h3>{{TripData.name}}</h3>
<div class="flex-row justify-center">
  <a href="/dashboard/trip/{{TripData.id}}/new">➕ Add Destination</a>
</div>
<div>
  <ul>
    {{#each TripData.Destinations}}
    <li>
      <div class="card">
        <h5 class="card-header">{{name}}
          <button class='btn delete-destination-button' type="click" id="{{id}}" data-trip-id="{{../TripData.id}}">Delete Destination</button>
        </h5>
        <div class="card-body">
          <h5 class="card-text">{{date_arrived}}</h5>
          <h5 class="card-text">{{date_leaving}}</h5>
          <h5 class="card-text">{{budget}}</h5>
          <button class="btn btn-primary" type="button">
          <a href="/dashboard/trip/{{../TripData.id}}/destination/{{id}}">View/Edit Destination</a>
          </button>
        </div>
    </li>
    {{/each}}
  </ul>
</div>

<script src="/js/delete-destination.js"></script>

